{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">
<div class="col-sm-4">
<img src="{{ product.image.url }}" style="width:300px; height: 300px;">
</div>
<div class="col-sm-8">
<h3 class="text-center">{{ product.title }}</h3>
<p>{{ product.description }}</p>
    <hr>
    <p style="font-size:20px;"> Ціна: <strong>{{ product.price }} грн.</strong></p>
    <a href="#" class="add_to_cart" data-slug="{{ product.slug }}">
        <button class="btn btn-danger">Додати в кошик</button></a>
</div>
</div>
<script src='{% static "js/jquery.js" %}'></script>
<script>
    $(document).ready(function(){
        $('.add_to_cart').on('click', function(e){
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            data = {
                product_slug: product_slug
            }
            $.ajax({
                type: "GET",
                url: '{% url "add_to_cart" %}',
                data: data,
                success: function(data){
                    $("#cart_count").html(data.cart_total)
                }
            })
        })
    })
</script>
{% endblock content %}
